*.swp
*.pyc
*~.nib/
build/
dist/
*.egg-info/
venv/
usefull_commands.sh
.pypirc

# PyCharm
.idea/*
events/.idea/
pytestdebug.log
.pytest_cache
.pytest_cache/*
__pycache__/

# osx noise
.DS_Store
.cache
.cache/*

